#content > div> div.griditem {
  padding:0;
  width: 390px;
  height: 219px;
  display:block;

  margin: 20px;

  border: 1px solid #ccc;

  background-color: #eee;
  color: #333;

  float: left;
}



div.griditem img{
  background-color: black;
  position: absolute;
  x:0;
  y:0;
  width: 390px;
  height: 219px;

  z-index:2;
}


div.griditem p {
  margin:0;

  width: 380px;
  height: 209px;

  line-height:231px;
  vertical-align: middle;

  text-align: center;
  text-transform: uppercase;

  font-size: 2.5em;
  font-family: Sans;
}



